@import "./variables";

.portfolioContainer {
  margin: 7rem 0rem 2rem 0rem;
.projects-container {
  text-align: center;
  .heading{
    @include aventoHeading;
    margin: 50px 0 30px 0;
  }
  .projectCard{
    transition: all 0.4s ease;
    .projectImage{
        width: 100%;
        height: auto;
    }
    .project-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
        .project-title{
            font-weight: 700;
            font-size: 30px;
            line-height: 50px;
            color: #071938;
        }
        .project-category{
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            letter-spacing: 1px;
            color: #61BDD2;
            text-align: left;
        }
        .project-technology{
            display: block;
            width: 10%;
        }
    }
    &:hover{
      transform: translateY(-12px);
    }
  }
  .owl-dots{
    .owl-dot{
    width: 16px;
    height: 16px;
    background: #D9DBE1;
    opacity: 0.6;
    margin: 0 10px;
    border-radius: 100px;
    }
    .active{
    background: #2EC5CE;
    
    }
  }
}
.customersContainer{
    margin: 6rem 0 4rem 0;
    .customer-numbers{
    @include aventoHeading;
    }
    .customers-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #071938;
    }
    .customer-icons{
        svg{
          // margin: 0 auto;
          // display: block;
            width: 100px;
            height: auto;
        }
    }
}

}


