@import "./variables";

.teams-container {
    overflow: hidden;
      background: linear-gradient(180deg, #E5EFFF 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
    .teamsRow-container {
        min-height: 100vh;
        .team-colOne {
            // padding-left: 10%;
        }

        .heading {
            @include aventoHeading;
           font-size: 45px;
        }

        .description {
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #454545;
        }

        .hireButton {
            // @include aventoButton;
            // padding: 10px 20px;
             margin-top: 25px;
            @include aventoButton;
            font-size: 16px;
            min-width: 170px;
        
            padding: 0.5rem 20px;
        }

        .teamsImgColumn {
            padding: 0 !important;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            img{
                width: 80%;
            }
        }

        .teamsHeaderimg {}
    }

}

.team-cards-container {
    text-align: center;
    margin-bottom: 3rem;
    .heading {
        @include aventoHeading;
    }
    .nav-tabs{
        align-items: center;
        justify-content: center;
        margin: 30px 0;
        border: none;
        button{    
        border-radius: 50px;
        margin: 0 30px 30px 0px;
        font-weight: 700;
        font-size: 16px;
        padding: 7px 25px;
        width: 125px;
        }
      }
      .nav-link{
      color: #454545 !important;
      border: 1px solid #e9ecef !important;
      }
      .nav-link.active{
        background: #61BDD2 !important; 
        color: #F6F7F9 !important;
      }

    .team-card {
        margin-top: 50px;
        width: 100%;
        height: 375px;
        background: #FFFFFF;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border: none;
        outline: none;
        position: relative;
        transition: all 0.4s ease;
        .social-links {
            display: flex;
            align-items: center;
            justify-content: center;
          //  position: absolute;
          //  flex-direction: column;
          //  top: 9%;
          //  right: 7%;
            svg{
           font-size: 30px;
           margin: 5px;
            }
        }
        .team-img{

        }
        .team-name{
            margin-top: 20px;
            font-weight: 700;
            font-size: 22px;
            color: #071938;
        }
        .team-post{
            font-weight: 300;
            font-size: 18px;
            color: #454545;
        }
        &:hover{
            transform: translateY(-12px);
            background: linear-gradient(180deg, #61BDD2 0%, #4194A7 100%);
            .team-name{
             color: #FFFFFF;
            }
            .team-post{
            color: #FFFFFF;
            }
        }
    }
    .hire-btn{
        @include aventoButton;
        padding: 5px 27px;
        margin-top: 40px;
        margin-bottom: 40px;
//         width: 210px;
// height: 50px;
// background: #61BDD2;
// border-radius: 50px;
// font-family: 'Proxima Nova';
// font-weight: 700;
// font-size: 16px;
// letter-spacing: 2px;
// color: #FFFFFF;
// margin: 2rem auto;
    }
}






